<html>
    <head>
        <meta charset="UTF-8">
        <title>Playground PWA</title>
        <link rel="manifest" href="<%= require('./manifest.webmanifest') %>">
        <link rel="icon" href="<%= require('./favicon.png') %>">
        <script type="text/javascript" src="index.js"></script>
    </head>
    <body>

    </body>
</html>